@CHARSET "UTF-8";

/*general style*/

body {
	/* background-image: url("http://localhost/AjedrezFCFM/img/resources/chessbg1.png"); */
}

html {
	position: relative;
	min-height: 100%;
}

textarea {
	resize: vertical;
}

.footer {
	width: auto;
	position: absolute;
	bottom: 0;
	height: 30px;
	background-color: #f5f5f5;
}
.nav li a{
	padding-left: 10px;
	padding-right: 10px;
}

.navbar .container{
	width: auto;
}

.IKUSABA {
	/* background: #fff; */
	margin-bottom: 60px;
}

.red-text{
	color: #ff0000;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

/* Customize file buttons */

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
