@CHARSET "UTF-8";

/*general style*/

html {
	position: relative;
	min-height: 100%;
}

textarea {
	resize: vertical;
}

.footer {
	width: auto;
	position: absolute;
	bottom: 0;
	height: 30px;
	background-color: #f5f5f5;
}
.nav li a{
		padding-left: 10px;
		padding-right: 10px;
}

.navbar .container{
	width: auto;
}

.main-content {
	margin-bottom: 60px;
}

.red-text{
	color: #ff0000;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
