@CHARSET "UTF-8";

/* Profile container */

body {
	background: #f5f5f5;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border: solid;
  border-color: grey;
  border-radius: 10px;
}

.profile-userAvatar img {
  display: block;
  float: none;
  margin: auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-userAbout {
  text-align: center;
  margin-top: 20px;
}

.profile-userAbout-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userAbout-description {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userContact {
  text-align: center;
  margin-top: 10px;
}

.profile-userContact .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userContact .btn:last-child {
  margin-right: 0px;
}
    
.profile-userMenu {
  margin-top: 30px;
}

.profile-userMenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-userMenu ul li:last-child {
  border-bottom: none;
}

.profile-userMenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-userMenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-userMenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-userMenu ul li.active {
  border-bottom: none;
}

.profile-userMenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  height: 100%;
  border: solid;
  border-color: grey;
  border-radius: 10px;
}